<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="Gruntfile.js">
  
</file>



<file name="tasks/complexity.js">
  
  <error
    line="22"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 11.667
    | Effort: 1597.4
    | Volume: 136.92
    | Vocabulary: 13"
    source="normalizeOptions"
    />
  
  <error
    line="75"
    severity="warning"
    message="Cyclomatic: 3,
    Halstead: 14.219
    | Effort: 4558.9
    | Volume: 320.63
    | Vocabulary: 29"
    source="assignSeverity"
    />
  
</file>



<file name="test/complexity-test.js">
  
</file>



<file name="test/multiReporter-test.js">
  
</file>



<file name="test/XmlReporter-test.js">
  
</file>



<file name="tasks/reporters/Console/index.js">
  
</file>



<file name="tasks/reporters/XML/index.js">
  
</file>



<file name="tasks/reporters/Console/helpers.js">
  
</file>



<file name="test/console.helpers-test.js">
  
</file>



<file name="tasks/reporters/multi.js">
  
</file>



<file name="tasks/reporters/JSLintXML/index.js">
  
</file>



<file name="tasks/reporters/CheckstyleXML/index.js">
  
</file>



</checkstyle>
